.landing-wrapper {
  width: 100%;
  height: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top left;
}

.user-login {
  width: 500px;
  height: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;

  background: rgba(255, 255, 255, 0.5);
  padding: 30px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.featured:before {
  content: "+";
  font-weight: 400;
  display: inline-block;
  margin-right: 5px;
  color: #4cb1ff;
}

.vertical-text {
  width: 50px;
  height: 50px;
  margin: 30px 0 auto auto;
  background: #4cb1ff;
}
.vertical-text span {
  width: 50px;
  display: inline-block;
  text-align: center;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.user-login__title {
  font-size: 40px;
  color: #0abde3;
  margin-bottom: 50px;
  text-align: center;
}

.user-login__form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.user-login__form-control label {
  margin-bottom: 5px;
  color: black;
  font-size: 16px;
}

.user-login__form-control input {
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  height: 36px;
  padding: 5px 10px;
}

.user-login__form-control input:focus {
  outline: 0;
  border-color: #5988df;
}

.user-login__submit-button {
  width: 100%;
  margin-top: 30px;
}

.user-login__error {
  color: red;
}
