html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.equipe,
.products,
.artigo,
.reports {
  width: 80%;
  height: 100vh;
  float: left;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
